@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body
{
    background-color: rgb(28, 27, 34);
    color: white;
    font-family: sans-serif;
}
h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
}
p
{
    color: white;
}
a
{
    color: lightblue;
}
div.bottomB {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 15px;
}

ul {
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 0;
}
li {
    display: inline;
}